{
  "log": {
    "_recordingName": "fetch-entities-valid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b43666b8528427457c1fbf4152293e60",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cyberrange.clients.xmcyber.com/api/status/systemHealth"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68987,
            "text": "{\"timestamp\":\"2022-12-08T15:22:59.393Z\",\"period\":\"daily\",\"jobsStatus\":{\"vavmJobQueue\":{\"jobsStats\":{},\"stateDate\":null,\"failingJobs\":[],\"isDailyReportRun\":true},\"workerHealthJobQueue\":{\"isDailyReportRun\":false,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":0,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T15:21:44.060Z\"},\"cmJobQueue\":{\"isDailyReportRun\":true,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":1,\"completed\":0,\"failed\":35,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T15:22:11.407Z\"},\"methodsJobQueue\":{\"isDailyReportRun\":true,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":0,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T15:22:11.411Z\"},\"failingJobs\":[],\"isDailyReportRun\":false,\"jobsStats\":{\"waiting\":0,\"active\":1,\"completed\":0,\"failed\":35,\"delayed\":0,\"paused\":0}},\"availableModules\":{\"mailMgr\":true},\"systemIssues\":[],\"campaignManager\":{\"id\":\"0000\",\"lag\":{\"current\":0,\"peak\":{\"lag\":4868,\"timestamp\":\"2022-12-02T12:57:58.173Z\"},\"avg\":0.5486730705682645},\"cpu\":{\"current\":{\"absolute\":1,\"normalized\":0.125},\"peak\":{\"absolute\":139.8533007385916,\"normalized\":17.48166259232395,\"timestamp\":\"2022-12-02T12:58:11.898Z\"},\"avg\":{\"absolute\":6.172707763783513,\"normalized\":0.7715884704729391}},\"memory\":{\"current\":{\"absolute\":397307904,\"normalized\":0.011928309872647378},\"peak\":{\"absolute\":1104961536,\"normalized\":0.033174078507042265,\"timestamp\":\"2022-12-06T00:41:38.246Z\"},\"avg\":{\"absolute\":407207420.7970435,\"normalized\":0.012225521437672303}},\"heapUsed\":265681680,\"heapTotal\":295391232,\"timestamp\":\"2022-12-08T15:22:56.741Z\",\"isCampaignEnabled\":{\"status\":true,\"numSensors\":68,\"requiredSensors\":50,\"awsEnabled\":true,\"azureEnabled\":true,\"gcpEnabled\":false}},\"activeCampaigns\":[{\"gmc\":true,\"templateId\":\"FFFF\",\"lag\":{\"current\":0,\"peak\":{\"lag\":1611,\"timestamp\":\"2022-12-06T16:00:52.167Z\"},\"avg\":0.6408864019692836},\"cpu\":{\"current\":{\"absolute\":1.3333333333333335,\"normalized\":0.16666666666666669},\"peak\":{\"absolute\":116.13924051796691,\"normalized\":14.517405064745864,\"timestamp\":\"2022-12-02T12:58:28.240Z\"},\"avg\":{\"absolute\":3.1242716646032047,\"normalized\":0.3905339580754006}},\"memory\":{\"current\":{\"absolute\":208490496,\"normalized\":0.006314340031074874},\"peak\":{\"absolute\":300007424,\"normalized\":0.009086020338226128,\"timestamp\":\"2022-12-05T13:00:53.413Z\"},\"avg\":{\"absolute\":238050235.87181497,\"normalized\":0.007209585868951155}},\"heapUsed\":150657824,\"heapTotal\":176304128,\"timestamp\":\"2022-12-08T15:22:52.013Z\",\"createdAt\":\"2022-12-02T12:58:25.269Z\",\"totalNodes\":68,\"tasksStats\":{\"pendingTasks\":0,\"runningTasks\":0,\"completedTasks\":11782,\"peakPendingTasks\":135,\"peakPendingTasksDate\":\"2022-12-02T12:59:55.235Z\"},\"name\":\"General\",\"archived\":false,\"status\":\"ready\",\"totalEntities\":68,\"collectorsStats\":{\"streaming\":{\"send\":232,\"recv\":34983,\"err\":112,\"bytes_recv\":162534,\"bytes_send\":4832},\"non_streaming\":{\"send\":8987,\"recv\":7575,\"err\":1380,\"bytes_recv\":849296,\"bytes_send\":820922}},\"messagesStats\":{\"maxPending\":0},\"id\":\"0000FFFF004C8E\"},{\"gmc\":true,\"templateId\":\"FFFF\",\"lag\":{\"current\":1,\"peak\":{\"lag\":1464,\"timestamp\":\"2022-12-08T05:00:41.025Z\"},\"avg\":0.5050930884397165},\"cpu\":{\"current\":{\"absolute\":0.6666666666666667,\"normalized\":0.08333333333333334},\"peak\":{\"absolute\":118.86792453944194,\"normalized\":14.858490567430243,\"timestamp\":\"2022-12-02T12:58:28.327Z\"},\"avg\":{\"absolute\":1.1149456165327514,\"normalized\":0.13936820206659392}},\"memory\":{\"current\":{\[...]
