{
  "log": {
    "_recordingName": "valid-api-key",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b43666b8528427457c1fbf4152293e60",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cyberrange.clients.xmcyber.com/api/status/systemHealth"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69232,
            "text": "{\"timestamp\":\"2022-12-08T23:47:04.821Z\",\"period\":\"daily\",\"jobsStatus\":{\"vavmJobQueue\":{\"jobsStats\":{},\"stateDate\":null,\"failingJobs\":[],\"isDailyReportRun\":true},\"workerHealthJobQueue\":{\"isDailyReportRun\":false,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":0,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T23:45:44.265Z\"},\"cmJobQueue\":{\"isDailyReportRun\":true,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":35,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T23:46:11.721Z\"},\"methodsJobQueue\":{\"isDailyReportRun\":true,\"failingJobs\":[],\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":0,\"delayed\":0,\"paused\":0},\"stateDate\":\"2022-12-08T23:46:11.725Z\"},\"failingJobs\":[],\"isDailyReportRun\":false,\"jobsStats\":{\"waiting\":0,\"active\":0,\"completed\":0,\"failed\":35,\"delayed\":0,\"paused\":0}},\"availableModules\":{\"mailMgr\":true},\"systemIssues\":[],\"campaignManager\":{\"id\":\"0000\",\"lag\":{\"current\":1,\"peak\":{\"lag\":4868,\"timestamp\":\"2022-12-02T12:57:58.173Z\"},\"avg\":0.5473247481006537},\"cpu\":{\"current\":{\"absolute\":1.6666666666666667,\"normalized\":0.20833333333333334},\"peak\":{\"absolute\":139.8533007385916,\"normalized\":17.48166259232395,\"timestamp\":\"2022-12-02T12:58:11.898Z\"},\"avg\":{\"absolute\":6.243585143293008,\"normalized\":0.780448142911626}},\"memory\":{\"current\":{\"absolute\":426024960,\"normalized\":0.012790477323003884},\"peak\":{\"absolute\":1104961536,\"normalized\":0.033174078507042265,\"timestamp\":\"2022-12-06T00:41:38.246Z\"},\"avg\":{\"absolute\":408396050.1775283,\"normalized\":0.01226120746211685}},\"heapUsed\":295132640,\"heapTotal\":322576384,\"timestamp\":\"2022-12-08T23:47:04.747Z\",\"isCampaignEnabled\":{\"status\":true,\"numSensors\":68,\"requiredSensors\":50,\"awsEnabled\":true,\"azureEnabled\":true,\"gcpEnabled\":false}},\"activeCampaigns\":[{\"gmc\":true,\"templateId\":\"FFFF\",\"lag\":{\"current\":0,\"peak\":{\"lag\":1611,\"timestamp\":\"2022-12-06T16:00:52.167Z\"},\"avg\":0.6453784139164929},\"cpu\":{\"current\":{\"absolute\":2.666666666666667,\"normalized\":0.33333333333333337},\"peak\":{\"absolute\":116.13924051796691,\"normalized\":14.517405064745864,\"timestamp\":\"2022-12-02T12:58:28.240Z\"},\"avg\":{\"absolute\":3.1318166031150145,\"normalized\":0.3914770753893768}},\"memory\":{\"current\":{\"absolute\":207261696,\"normalized\":0.0062771246127270525},\"peak\":{\"absolute\":300007424,\"normalized\":0.009086020338226128,\"timestamp\":\"2022-12-05T13:00:53.413Z\"},\"avg\":{\"absolute\":236454515.45411846,\"normalized\":0.007161257904342809}},\"heapUsed\":156933168,\"heapTotal\":176041984,\"timestamp\":\"2022-12-08T23:46:59.660Z\",\"createdAt\":\"2022-12-02T12:58:25.269Z\",\"totalNodes\":68,\"tasksStats\":{\"pendingTasks\":0,\"runningTasks\":0,\"completedTasks\":12212,\"peakPendingTasks\":135,\"peakPendingTasksDate\":\"2022-12-02T12:59:55.235Z\"},\"name\":\"General\",\"archived\":false,\"status\":\"ready\",\"totalEntities\":68,\"collectorsStats\":{\"streaming\":{\"send\":233,\"recv\":36999,\"err\":113,\"bytes_recv\":171457,\"bytes_send\":4960},\"non_streaming\":{\"send\":9347,\"recv\":7795,\"err\":1516,\"bytes_recv\":866655,\"bytes_send\":886075}},\"messagesStats\":{\"maxPending\":0},\"id\":\"0000FFFF004C8E\"},{\"gmc\":true,\"templateId\":\"FFFF\",\"lag\":{\"current\":0,\"peak\":{\"lag\":1464,\"timestamp\":\"2022-12-08T05:00:41.025Z\"},\"avg\":0.5051965754863905},\"cpu\":{\"current\":{\"absolute\":1,\"normalized\":0.125},\"peak\":{\"absolute\":118.86792453944194,\"normalized\":14.858490567430243,\"timestamp\":\"2022-12-02T12:58:28.327Z\"},\"avg\":{\"absolute\":1.11560824539764,\"normalized\":0.139451030674705}},\"memory\":{\"current\":{\"absolute\":194920448,\"normalized\[...]
