{
  "log": {
    "_recordingName": "fetch-entities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b43666b8528427457c1fbf4152293e60",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cyberrange.clients.xmcyber.com/api/status/systemHealth"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 89,
            "text": "{\"statusCode\":401,\"message\":\"API key authentication failed\",\"code\":\"ERR_INVALID_API_KEY\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9999"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1670434979"
            },
            {
              "name": "etag",
              "value": "W/\"59-wu2xKvdM0YAOlosYs9cTPZRVNxU\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 1023,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
